.container {
  max-width: 900px;
  margin: 100 auto;
  padding: 30px;
  background-image: url('hello.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white; 
  font-weight: bold; 
  font-family: Cambria;
  font-size: 50px;
  text-shadow: 2px 2px 4px #FF0000;
}


.question {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 128, 128, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.question h3 {
  font-family: Times, 'Times New Roman', serif;
  color: white;
}

.choice {
  display: block;
  margin-bottom: 10px;
  font-family: Times, 'Times New Roman', serif;
  color: white;
}

.choice input[type="radio"] {
  margin-right: 10px;
}

.choice label {
  display: flex;
  align-items: center;
}

.choice img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

#submit-btn {
  display: block;
  margin: 20px auto;
}

#result {
  text-align: center;
  font-weight: bold;
}